/* Tag */
body{
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    /* padding - inside, margin - outside */
}

div {
    background-color: aliceblue;
    padding: 1cm;
    margin: 10px;
}

/* Class */
.redbackground{
    background-color: red;
    margin: 10px;
}

.smallphoto{
    width: 200px;
    height: 200px;
}

.flexy{
    display:flexbox;

}